/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Ubuntu:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.container-fluid {
    padding: 3% 15%;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

h1 {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Navigation Bar  */
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px;
    font-size: 1.2rem;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
}